@charset "utf-8";

html,body,ul,ol {
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

html,body,#wrap,#wrap>ul {
    height: 100%;
}

/* 
    float 방식
    1. 옆으로 흐를요소에 직접 float셋팅
    2. 등분할일 경우 width값 %계산
    3. 높이값을 부모에 채울 경우 height 100% 셋팅
    4. 부모박스에 높이값이 없이 자동으로 자식요소를 인식하려면 마지막 clear속성 셋팅필요

    #wrap>ul>li {
        float: left;
        width: 20%;
        height: 100%;
    } 
*/

#wrap>ul>li:nth-child(1) {
    background: url(../images/m01_bg.jpg) no-repeat center/cover;
}
#wrap>ul>li:nth-child(2) {
    background: url(../images/m02_bg.jpg) no-repeat center/cover;
}
#wrap>ul>li:nth-child(3) {
    background: url(../images/m03_bg.jpg) no-repeat center/cover;
}
#wrap>ul>li:nth-child(4) {
    background: url(../images/m04_bg.jpg) no-repeat center/cover;
}
#wrap>ul>li:nth-child(5) {
    background: url(../images/m05_bg.jpg) no-repeat center/cover;
}

/***********************************************
    [ 플렉스 디스플레이 박스 ]
    flex 란? - flexible (유연한-에서 나온말)

    - 가변적인 자식요소를 컨트롤하기 위해 
      CSS3에서 새롭게 선보인 display 기술

    [ 플렉스 셋팅법 ]
    1. 대상: 컨트롤할 요스들의 직계부모요소
    2. 등분할셋팅
      - 자식요소를 같은 비율로 채울 때
        자식요소에 flex속성값을 1로 쓰면 된다!
    3. 일반적인 셋팅
      - 특정 크기나 내용이 있는 블록요소인 자식을
        옆으로 흐르게 한다(flex셋팅 일단 불필요!)
***********************************************/

#wrap>ul {
    display: flex;
}

#wrap>ul>li {
    /* 등분할 플렉스 속성 */
    flex: 1;
}

/* 타이틀 공통 */
.tit {
    width: 500px;
    height: 100px;
    border: 5px double #ffffff;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}