@charset "utf-8";
/* 서브페이지 공통 CSS - sub.css */

/* 
    [import로 파일 합치기]
    외부 CSS파일에서 다른 외부 CSS 파일을
    import방식으로 불러올 때 장점은?
    html파일에서 link요소로 호출할 경우
    http request(웹요청)이 많아져서
    페이지 렌더링 속도에 영향을 미친다!
    따라서 import방식을 쓰면 더 적은 웹 요청에 따라 처리 속도에 도움이 된다!

    - 주의 : import는 css파일 상단에서 처리한다!
*/
/* @import url(파일주소); */
@import url(./common.css);

/* 본 CSS 설정 코드는 하단에 한다! */

/* 메인영역박스 */
.cont {
    /* padding: 15px; (기존 20px 재정의) */
    padding: 15px;
    /* 글씨체 ff */
    font-family: 'Nanum Gothic', sans-serif;
}

/* 2-1.언론사로고 */
.prlogo img{
    height: 32px;
    /* 이미지는 가로, 세로 중 한쪽만 주면 자동 비율유지를 함! */
}
/* 2-2.기사제목 */
.atit{
    /* 글자크기 fz30 */
    font-size: 30px;
    /* 글자두께 보통 fwn */
    font-weight: normal;
    /* 글자간격(자간) letter-spacing : ls 기본값 0(normal), 양수는 멀어짐, 음수는 가까워짐 */
    letter-spacing: 1px;
    /* 단어간격 word-spacing : ws */
    word-spacing: 1px;

    /* 
        줄바꿈 방지 : 공백->백공->white-space 
        값 -> nowrap 박스에서 줄바꿈 안되고 게속감
              nomal(기본값) 박스끝에서 줄바꿈
        [언제쓰나?]
        -> 줄바꿈이 되면 안될 때
        (예: 한줄에 오는 버튼글자, 한줄에 말줄임표) 
    */

    /* white-space: nowrap; */
}
/* 2-3.기사사진(+사진설명) */
.afig{
    margin: 15px 0;
    /* 인라인 가로중앙 : text-align tac */
    text-align: center;
}
/* 기사 이미지 */
.afig img {
    width: 100%;
}
/* 기사이미지 설명글 */
.afig small{
    /* 글씨체 : ff */
    font-family: 'Jua', sans-serif;
    /* 글자크기 : fz */
    font-size: 12px;
    /* 글자색 */
    color:#333333;
}

/* 2-4.기사내용 */
.arti p{
    /* 글자크기 : fz */
    font-size: 18px;
    /* 줄간격 : 1h -> 주의: 단위가 없으면 배수임 기준은 글자크기임! */
    line-height: 1.7;
    /* 양쪽패딩 */
    padding: 0 10px;
    /* 자간 : ls */
    letter-spacing: 1px;
    /* 글자 들여쓰기 ti 값 : 양수는 들여쓰기, 음수는 내어쓰기 */
    /* text-indent: 20px; */
    text-align: justify;
}
/* mark요소 변경하기! */
.arti p mark{
    /* 인라인을 블록으로 출신변경! */
    display: block;
    font-size: 20px;
    line-height: 2;
    padding: 20px 50px;
    background-color: #eeeeee;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    text-align: center;
    margin: 15px 0;
}
.arti p em{
    /* 글자 그림자 : text-shadow */
    text-shadow: 2px 2px 2px #ffddee;
    font-style: normal;
    color:#fe0883;
    font-weight: bold;
}
/* 2-5.기자정보 */
.rpt{
    font-size: 14px;
    background-color: #eeeeee;
    display:inline-block;
    padding: 5px;
    margin: 15px 0;
}
/*
    2-6.기사원문 
    별도의 이름없이 구조로만 기사원문을 선택한다! 직게자식!
*/
.cont > h5{
    text-align: right;
}
.cont > h5 a {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    text-align: center;
    line-height: 70px;
    box-sizing: border-box;
    background-color: #9198e5;
    color: #ffffff;
}
/* 가상클래스로 오버시 박스그림자 넣기 */
.cont > h5 a:hover {
    box-shadow: 0 0 5px #6a74eb;
}

/* 메인 공통 article 박스 디자인 */
.cont > article {
    border-top: 2px dashed rgb(172, 135, 240);
    margin-top: 40px;
    padding: 15px;
}

/* 각 파트별 공통 타이틀 */
.cont h3 {
    font-family: 'ONE-Mobile-POP';
    font-size: 26px;
    font-weight: normal;
    text-indent: 20px;
    color: #333;
}

.cont > article > h5 {
    font-weight: normal;
    font-size: 20px;
    color: #333;
    display: inline-block;
    background-color: rgba(251, 186, 246, 0.2);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0;
    box-shadow: inset 0 0 5px #6a74eb;
}

.desc div {
    padding: 20px 5px 0;
    line-height: 2;
    letter-spacing: 1px;
}

.qb blockquote {
    margin: 0;
    padding: 20px 5px 0;
    line-height: 1.5;
    letter-spacing: 0;
    font-size: 14px;
}

/* 오늘의 작품 & 느낌 */
.work {
    text-align: center;
    background: linear-gradient(180deg,rgba(230, 100, 100,0.5),rgba(244, 197, 67,0.5));
    background-clip: content-box;
}

.work figcaption {
    font-family: 'Jua', sans-serif;
}

.work figcaption cite {
    font-style: normal;
}

.work img {
    border: 15px ridge #d48302;
}
.cont article a:not(.a_img) {
    font-size: 17px;
    line-height: 2.5;
    letter-spacing: -1px;
    display: block;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cont article a:hover {
    color: rgb(235, 159, 250);
    text-shadow: 1px 1px 1px #ccc;
}

.cont article ul {
    list-style-type: "👍";
    /* 
        square 사각형, disc 원형, circle 반원
        -> 따옴표안에 다른 문자형을 넣을 수 있음
        -> 윈도우키+점(.) -> 아이콘 넣기
     */
}

.cont article ul li:nth-child(3n+1) a {
    color:#6a74eb;
}

.cont article ul li:nth-child(3n+2) a {
    color:#ba6aeb;
}

.cont article ul li:nth-child(3n) a {
    color:#eb6a95;
}
.cont article ul li,
.cont article ol li {
    padding-left: 10px;
}

.cont article ol {
    list-style-type: upper-roman;
}

/* 
    [ CSS 적용 우선순위 ] 
    type < class < id < inline < !important
    
    -> 더 쎈 선택자이여도 부모요소를 업고 
*/

/* 분야별 뉴스 */
.secnews dl dt {
    font-family: 'ONE-Mobile-POP';
    display: inline-block;
    border: 3px dotted rgb(76, 3, 107);
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 20px;
    box-shadow: 0 0 5px rgba(97, 5, 189, 0.5);
}

.secnews dl dt:nth-of-type(1) {
    color: #6a74eb;
}

.secnews dl dt:nth-of-type(2) {
    color:#ba6aeb;
}

.secnews dl dt:nth-of-type(3) {
    color:#eb6a95;
}

.secnews dl dd+dt {
    margin-top: 15px;
}

.secnews dl dd {
    margin-left: 100px;
}

.pnews h3 {
    text-align: center;
}

.pnews h3::before {
    content: '📷';
}

/* 사진뉴스 테이블박스 */
.pnews table {
    border: 1px solid #000;
    margin: 0 auto;
    border-collapse: collapse;
}

/* 첫번째 td - 숫자부분 */
.pnews td:first-child{
    width: 50px;
    height: 70px;
    text-align: center;
    background-color: rgba(176, 114, 253, 0.2);
}

.pnews td:nth-child(2) {
    background-color: rgba(234, 216, 249, 0.1);
    padding: 0 20px;
}

.pnews td:nth-child(3) {
    background-color: rgba(234, 216, 249, 0.6);
    padding: 7px;
}

.pnews table img {
    width: 250px;
    height: auto;
    vertical-align: middle;
}

/* 앞에 tr이 있는 tr만 하위 td에 디자인 */
.pnews tr+tr td {
    border-top: 2px solid #ccc;
}

.cont .pnews a{
    font-size: 14px;
    line-height: 1.5;
}
.cont .pnews .a_img {
    display: block;
    width: 100%;
    height: 100%;
}