@charset "utf-8";
/* 서브페이지 공통 CSS - sub.css */

/* 
    [import로 파일 합치기]
    외부 CSS파일에서 다른 외부 CSS 파일을
    import방식으로 불러올 때 장점은?
    html파일에서 link요소로 호출할 경우
    http request(웹요청)이 많아져서
    페이지 렌더링 속도에 영향을 미친다!
    따라서 import방식을 쓰면 더 적은 웹 요청에 따라 처리 속도에 도움이 된다!

    - 주의 : import는 css파일 상단에서 처리한다!
*/
/* @import url(파일주소); */
@import url(./common.css);

/* 본 CSS 설정 코드는 하단에 한다! */

/* 메인영역박스 */
.cont {
    /* padding: 15px; (기존 20px 재정의) */
    padding: 15px;
    /* 글씨체 ff */
    font-family: 'Nanum Gothic', sans-serif;
}

/* 2-1.언론사로고 */
.prlogo img{
    height: 32px;
    /* 이미지는 가로, 세로 중 한쪽만 주면 자동 비율유지를 함! */
}
/* 2-2.기사제목 */
.atit{
    /* 글자크기 fz30 */
    font-size: 30px;
    /* 글자두께 보통 fwn */
    font-weight: normal;
    /* 글자간격(자간) letter-spacing : ls 기본값 0(normal), 양수는 멀어짐, 음수는 가까워짐 */
    letter-spacing: 1px;
    /* 단어간격 word-spacing : ws */
    word-spacing: 1px;

    /* 
        줄바꿈 방지 : 공백->백공->white-space 
        값 -> nowrap 박스에서 줄바꿈 안되고 게속감
              nomal(기본값) 박스끝에서 줄바꿈
        [언제쓰나?]
        -> 줄바꿈이 되면 안될 때
        (예: 한줄에 오는 버튼글자, 한줄에 말줄임표) 
    */

    /* white-space: nowrap; */
}
/* 2-3.기사사진(+사진설명) */
.afig{
    margin: 15px 0;
    /* 인라인 가로중앙 : text-align tac */
    text-align: center;
}
/* 기사 이미지 */
.afig img {
    width: 100%;
}
/* 기사이미지 설명글 */
.afig small{
    /* 글씨체 : ff */
    font-family: 'Jua', sans-serif;
    /* 글자크기 : fz */
    font-size: 12px;
    /* 글자색 */
    color:#333333;
}

/* 2-4.기사내용 */
.arti p{
    /* 글자크기 : fz */
    font-size: 18px;
    /* 줄간격 : 1h -> 주의: 단위가 없으면 배수임 기준은 글자크기임! */
    line-height: 1.7;
    /* 양쪽패딩 */
    padding: 0 10px;
    /* 자간 : ls */
    letter-spacing: 1px;
    /* 글자 들여쓰기 ti 값 : 양수는 들여쓰기, 음수는 내어쓰기 */
    /* text-indent: 20px; */
}
/* mark요소 변경하기! */
.arti p mark{
    /* 인라인을 블록으로 출신변경! */
    display: block;
    font-size: 20px;
    line-height: 2;
    padding: 20px 50px;
    background-color: #eeeeee;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    text-align: center;
    margin: 15px 0;
}
.arti p em{
    /* 글자 그림자 : text-shadow */
    text-shadow: 2px 2px 2px #ffddee;
    font-style: normal;
    color:#fe0883;
    font-weight: bold;
}
/* 2-5.기자정보 */
.rpt{
    font-size: 14px;
    background-color: #eeeeee;
    display:inline-block;
    padding: 5px;
    margin: 15px 0;
}
/* 2-6.기사원문 */
