@charset "utf-8";
@import url(./robot_ani.css);

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap');

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/

/* Robot PJ 메인 CSS - robot.css */

html,body,h1,ol,ul {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공사중 표시 */
/* body * {
    outline: 2px dashed yellow;
} */

/****** 공통 클래스 ******/

/* 메탈소재1 배경 */
.mt1 {
    background: url(../images/metal01.jpg) no-repeat center/cover;
}

/* 메탈소재2 배경 */
.mt2 {
    background: url(../images/metal02.jpg) no-repeat center/cover;
}

/************************** 1. 상단영역 **************************/
/************************** 2. 메인영역 **************************/

/* 2-1.로봇박스 */
.robx{
    /* 패딩 위,아래 */
    padding: 200px 0 200px;
}

/* 로봇머리 */
.head {
    width: 250px;
    height: 235px;
    /* 마.영.오! */
    margin: 0 auto;
    border-radius: 45% 45% 35% 35%;
    position: relative;
    z-index: 100;
}

.head > div {
    position: absolute;
}

.head::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: url(../images/ribon.png) no-repeat center/cover;
    position: absolute;
    z-index: 100;
    top: -20px;
    right: -15px;
    transform: rotate(37deg);
}

.head:hover::before {
    background: url(../images/ribon01.png) no-repeat center/cover;
    top: -6px;
    right: 0px;
}

/* 눈공통 */
.eye {
    width: 50px;
    height: 50px;
    background: url(../images/e1.png) no-repeat center/cover;
    border-radius: 50%;
}

/* 왼눈 */
.el {
    top: 80px;
    left: 50px;
}

/* 오눈 */
.er {
    top: 80px;
    right: 50px;
}

/* 오른쪽 눈 옆에 별모양 가상요소 만들기 */
.er::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #19305f;
    position: absolute;
    right: -15px;
    bottom: -15px;
    clip-path: polygon(50% 0, 33% 30%, 0 36%, 23% 61%, 18% 95%, 50% 80%, 81% 95%, 76% 61%, 100% 36%, 66% 30%, 50% 0);
}
/*
    [ CSS 클리핑 속성 ]
    -> clip-path: polygon(x1 y1,x2 y2,...)
    -> 각 좌표쌍은 띄어쓰기로 각 점은 콤마로 구분
    -> 각 점을 연결하여 도형모양만 출력한다!
    -> px은 각 도형 크기 내부의 수치로 쓰고
       %는 도형을 기준한 위치를 %로 나타낸다!
 */

/* 코 */
.nose {
    width: 10px;
    height: 20px;
    background-color: #23a8e3;
    border-radius: 50% 50% 20% 20%;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
}

/* 입 */
.mouth {
    width: 60px;
    height: 33px;
    background: url(../images/mouth01.png) no-repeat center/cover;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

/* 귀 공통 */
.ear {
    width: 80px;
    height: 60px;
    border-radius: 50% 50% 0 0;
    background-color: #30a5e8;
    top: -18px;
}

/* 왼귀 */
.erl {
    transform: rotate(-37deg);
    left: -14px;
}
/* 오른귀 */
.err {
    transform: rotate(37deg);
    right: -14px;
}

/********* 로봇몸통 *********/
.body {
    width: 150px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

/* 가상요소로 몸통 상단 만들기 */
.body::before {
    content: "";
    display: block;
    width: 280px;
    height: 180px;
    background-image: linear-gradient(15deg, #999999, #cccccc, #ffffff, #aaaaaa, #999999);
    border-radius: 30%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0 0, 15% 100%, 85% 100%, 100% 0);
}

/* 가상요소로 몸통 하단 만들기 */
.body::after {
    content: "";
    display: block;
    width: 280px;
    height: 100px;
    background-image: linear-gradient(15deg,#eeeeee, #ffffff, #cccccc, #aaaaaa);
    border-radius: 30%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    clip-path: polygon(15% 0, 10% 40%, 20% 100%, 80% 100%, 90% 40%, 85% 0);
}

.body > div {
    position: absolute;
}

/********* 목 *********/
.neck {
    width: 70px;
    height: 40px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
}

/* 팔 공통 */
.arm {
    width: 60px;
    height: 140px;
    border-radius: 15px;
    top: 30px;
    transform-origin: center 10%;
    z-index: -1;
}


/* 
.arm::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #cccccc;
    position: absolute;
    bottom: 0;
    left: -2px;
    z-index: 1;
}
*/

.arm span {
    display: block;
    width: 50px;
    height: 110px;
    border-radius: 15px;
    position: absolute;
    top: 90%;
    transform-origin: top;
    z-index: -2;
}

.arm span::after {
    content: '';
    display: block;
    width: 80px;
    height: 120px;
    position: absolute;
    bottom: -120px;
    left: -10px;
    transform-origin: top;
}
.al span::after {
    left: -8px;
    background: url(../images/hand_left.png) no-repeat bottom/100%;
}

.ar span::after {
    right: -8px;
    background: url(../images/hand_right.png) no-repeat bottom/100%;
}

/********* 왼팔 *********/
.al {
    left: -58px;
    transform: rotate(20deg);
}

.al span {
    transform: rotate(-10deg);
    left: 5px;
}
/********* 오른팔 *********/
.ar {
    right: -58px;
    transform: rotate(-20deg);
}

.ar span {
    transform: rotate(10deg);
    right:5px;
}
/* 다리공통 */
.leg {
    width: 60px;
    height: 130px;
    top: 99%;
    transform-origin: center 10%;
    z-index: -1;
}

/* 다리공통 가상요소로 연결부분 만들기 */
.leg::before,
.leg::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -40px;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 20px;
    border: 4px solid #333;
    /* 트랜스폼 : 먼저x축 축소하고 회전
    -> 무엇을 먼저했느냐에 따라 결과 달라짐! */
    transform: scaleX(.8) rotate(45deg);
}

/* 다리연결부분 내부박스 */
.leg::after{
    transform: scale(.65,.8) rotate(45deg);
    /* 선형 그라데이션 */
    background-image: linear-gradient(-45deg,#222 10%,#ccc 60%,#eee);
}

/* 다리하단 공통 */
.leg span {
    display: block;
    width: 50px;
    height: 150px;
    border-radius: 15px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform-origin: top;
    transform: translateX(-50%);
    z-index: -2;
}

.leg span::after {
    content: '';
    display: block;
    width: 70px;
    height: 40px;
    background-color: #000000;
    border-radius: 40px 40px 0 0;
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    border: 4px solid #222222;
    border-bottom: 20px solid #222222;
    background-image: linear-gradient(-45deg,#222 10%,#ccc 60%,#eee);
}

.leg span::before {
    content: '';
    display: block;
    width: 50px;
    height: 60px;
    border: 4px solid #222222;
    border-top: 20px solid #222222;
    background-image: linear-gradient(-45deg,#222 10%,#ccc 60%,#eee);
    position: absolute;
    top: 80px;
    left: -4px;
}

.ll {
    left: 0;
}

.lr {
    right: 0;
}
/********* 왼다리 *********/
/********* 오른다리 *********/
/* 어깨공통 */
.shd {
    width: 60px;
    height: 60px;
}
/********* 왼어깨 *********/
.sl {
    left: -80px;
    border-radius: 50% 0 0 50%;
    transform: rotate(15deg);
}
/********* 오른어깨 *********/
.s2{
    right: -80px;
    border-radius: 0 50% 50% 0;
    transform: rotate(8.4deg);
}

/********* TV **********/
.tv{
    top: 25px;
    left: 50%;
    width: 180px;
    height: 138px;
    border-radius: 5px;
    background: url(../images/tv.jpg) no-repeat center/cover;   
    transform: translateX(-50%);
}
/* 스크린 */
.screen{
    position: absolute;
    top: 14px;
    left: 9px;
    width: 129px;
    height: 100px;
    border-radius: 15px;
    background-color: #000;

    /* 자식요소 아이프레임 
    넘치는 부분 숨기기 */
    overflow: hidden;
}
/* 동영상 iframe */
.screen iframe{
    position: absolute;
    top: 0px;
    left: -19px;
    width: 174px;
    height: 100px;
    /* 아이프레임 기본보더없앰 */
    border: none;
}


/************ 2-2.로봇설명박스 ************/
.dcbx {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid #ffffff;
    border-radius: 20px;
    box-shadow: 
    inset 0 0 20px blue,
    inset 0 0 50px 10px cyan;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}

/* 2-2-1.제목 */
.dcbx h2 {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    text-align: center;
    font-size: 35px;
    color: lime;
    font-family: 'Chakra Petch', sans-serif;
}

/* 2-2-2.출처 */
.dcbx small {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #ffff00;
    line-height: 1.8;
    font-family: 'Chakra Petch', sans-serif;
}

/* 2-2-3.내용단락 */
.dcbx p {
    column-count: 3;
    column-rule: 5px dotted lightgreen;
    column-gap: 55px;
    text-align: justify;
    word-break: break-all;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: 'Barlow', sans-serif;
}


/************************** 3. 하단영역 **************************/