@charset "utf-8";

/* 초기화 CSS 호출 */
@import url(reset.css);
@import url(common.css);
@import url(fonts.css);


body {
    background-color: #000000;
}

.section,
.section > .bg_con {
    width: 100%;
    position: relative;
}

.section01_con > .bg_con {
    width: 100%;
    height: 100vh;
    background: url(../image/Sally_main.jpg) no-repeat center/cover;
    filter: brightness(50%);
    background-attachment: fixed;
}

.section01_con > .contents_con {
    padding: 0 10%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    word-break: keep-all;
}

.section02_con {
    padding: 5vh 0;
    background-color: #ffffff;
}

.section02_con > .bg_con {
    height: calc(80vh - 140px);
    background-color: #ffffff;
}

.section02_con > .contents_con {
    width: 62.5%;
    margin: 0 auto;
    padding: 0 10%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    word-break: keep-all;
}

.section02_con > .contents_con li {
    margin-top: 20px;
}

.section02_con > .contents_con li span {
    font-size: min(40px, 4vw);
    color: #000000;
}

.section .contents_con span {
    color: #ffffff;
}

.section > .contents_con > .title_con > span {
    font-size: min(300px, 20vw);
    font-weight: bold;
    font-family: dominikth;
}

.section > .contents_con > .contents_con {
    margin-top: 5vh;
}

.section > .contents_con > .contents_con > span {
    font-size: min(23px, 2vw);
    font-family: neutraltextbook;
}